* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: NotoReg;
  src: url(fonts/NotoSans-Regular.ttf);
}
* {
  font-family: NotoReg;
}

nav {
  min-height: 70px;
  background-color: #e5d1d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-weight: bold;
}
nav a:hover {
  color: #a3a3a3;
}

footer {
  min-height: 70px;
  background-color: #e5d1d0;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20px;
}

section {
  min-height: 92vh;
  width: 95%;
  margin: 0 auto;
}

.first-section {
  min-height: 92vh;
  width: 95%;
  margin: 0 auto;
  padding-top: 40px;
}
.first-section__sale {
  width: 100%;
  height: 30vh;
  background-color: #afafaf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
}
.first-section__sale--blue {
  background-color: #5dbfeb;
}
.first-section__sale h1,
.first-section__sale h2,
.first-section__sale h3 {
  text-transform: uppercase;
  color: white;
  margin-bottom: 0px;
}
.first-section__sale h1 {
  font-size: 40px;
}
.first-section__sale h3 {
  font-size: 16px;
}
.first-section__sale span {
  color: #f5ed32;
}
.first-section__sale__btn {
  width: 170px;
  height: 45px;
  background-color: white;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.first-section__sale__btn--margin {
  margin-top: 17px;
}
.first-section__promotion {
  width: 100%;
  min-height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 43px;
}
.first-section__promotion__one {
  width: 48%;
  height: 100%;
  background-color: green;
  text-decoration: none;
}
.first-section__promotion__one--pool {
  background-image: url(../images/pool-side.jpg);
  background-position: bottom;
  background-repeat: none;
  background-size: cover;
}
.first-section__promotion__one--swim {
  background-image: url(../images/swim.jpeg);
  background-position: bottom;
  background-repeat: none;
  background-size: cover;
}
.first-section__promotion__one__bottom {
  width: 100%;
  height: 60px;
  background-color: #5dbfeb;
  margin-top: 353px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first-section__promotion__one__bottom h2 {
  margin-bottom: 0;
  margin-left: 12px;
  color: white;
  font-size: 40px;
  text-transform: uppercase;
}
.first-section__circles {
  width: 100%;
  min-height: 215px;
  margin-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.first-section__circles__clothing {
  width: 215px;
  height: 215px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.first-section__circles__clothing--polo {
  background-image: url(../images/polo.jpg);
  background-position: center;
  background-size: cover;
}
.first-section__circles__clothing--buttondown {
  background-image: url(../images/button-down.jpg);
  background-position: center;
  background-size: cover;
}
.first-section__circles__clothing--graphic {
  background-image: url(../images/graphic-tee.jpg);
  background-position: center;
  background-size: cover;
}
.first-section__circles__clothing--tshirts {
  background-image: url(../images/t-shirt.jpg);
  background-position: center;
  background-size: cover;
}
.first-section__circles__clothing--shorts {
  background-image: url(../images/mens-shorts.jpg);
  background-position: center;
  background-size: cover;
}
.first-section__circles__clothing--accessories {
  background-image: url(../images/accessories.jpg);
  background-position: center;
  background-size: cover;
}
.first-section__circles__clothing--wtops {
  background-image: url(../images/wtops.jpg);
  background-position: center;
  background-size: cover;
}
.first-section__circles__clothing--wbottoms {
  background-image: url(../images/wbottoms.jpg);
  background-position: center;
  background-size: cover;
}
.first-section__circles__clothing--dresses {
  background-image: url(../images/dresses.jpg);
  background-position: center;
  background-size: cover;
}
.first-section__circles__clothing--wshorts {
  background-image: url(../images/wshorts.jpg);
  background-position: center;
  background-size: cover;
}
.first-section__circles__clothing--wsweaters {
  background-image: url(../images/wsweaters.jpg);
  background-position: center;
  background-size: cover;
}
.first-section__circles__clothing--wactive {
  background-image: url(../images/wactive.jpg);
  background-position: center;
  background-size: cover;
}
.first-section__circles__clothing p {
  font-size: 17px;
  margin-top: 220px;
}

.second-section {
  min-height: 92vh;
  width: 95%;
  margin: 0 auto;
}
.second-section__promotion {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.second-section__promotion--margin {
  margin-top: -50px;
}
.second-section__promotion__clothes {
  width: 29%;
  height: 100%;
}
.second-section__promotion__clothes--shoes {
  background-image: url(../images/shoes.jpg);
  background-position: top;
  background-repeat: none;
  background-size: cover;
}
.second-section__promotion__clothes--shorts {
  background-image: url(../images/shorts.jpg);
  background-position: top;
  background-repeat: none;
  background-size: cover;
}
.second-section__promotion__clothes--tees {
  background-image: url(../images/tees.jpg);
  background-position: top;
  background-repeat: none;
  background-size: cover;
}
.second-section__promotion__clothes--crewneck {
  background-image: url(../images/crewneck.jfif);
  background-position: center;
  background-size: cover;
}
.second-section__promotion__clothes--white-button-down {
  background-image: url(../images/white-button-down.jfif);
  background-position: center;
  background-size: cover;
}
.second-section__promotion__clothes--yellow-graphic {
  background-image: url(../images/yellow-graphic.png);
  background-position: center;
  background-size: cover;
}
.second-section__promotion__clothes--keyhole {
  background-image: url(../images/keyhole-blouse.jfif);
  background-position: center;
  background-size: cover;
}
.second-section__promotion__clothes--wjeans {
  background-image: url(../images/wjeans.jfif);
  background-position: center;
  background-size: cover;
}
.second-section__promotion__clothes--floral-dress {
  background-image: url(../images/floral-dress.jfif);
  background-position: center;
  background-size: cover;
}
.second-section__promotion__clothes__bottom {
  width: 100%;
  height: 60px;
  background-color: #5dbfeb;
  margin-top: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.second-section__promotion__clothes__bottom h2 {
  margin-bottom: 0;
  margin-left: 12px;
  color: white;
  font-size: 40px;
  text-transform: uppercase;
}
.second-section__promotion__clothes__bottom h3 {
  margin-bottom: 0;
  margin-left: 12px;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}
.second-section__sale {
  width: 100%;
  min-height: 38vh;
  margin-top: 34px;
  background-color: palevioletred;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.second-section__sale--black {
  background-color: #313131;
  padding-top: 15px;
}
.second-section__sale--navyblue {
  background-color: #1d3276;
}
.second-section__sale h1 {
  margin-top: 20px;
  color: white;
  margin-bottom: 0px;
  font-size: 70px;
}
.second-section__sale h2 {
  color: white;
  margin-bottom: 0px;
  font-size: 45px;
}
.second-section__sale p {
  color: white;
  margin-bottom: 0;
  font-size: 27px;
}
.second-section__sale span {
  color: #f5ed32;
}
.second-section__sale__btn {
  width: 170px;
  height: 45px;
  background-color: white;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.second-section__sale__btn--margin {
  margin-top: 25px;
}

@media screen and (max-width: 850px) {
  .first-section__promotion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .first-section__promotion__one {
    width: 100%;
    margin-bottom: 45px;
  }

  .second-section__sale {
    padding-top: 40px;
  }
  .second-section__sale h1 {
    font-size: 40px;
  }
  .second-section__sale h2 {
    font-size: 30px;
  }
  .second-section__sale p {
    font-size: 22px;
  }
}
@media screen and (max-width: 1000px) {
  .first-section__circles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
    margin-bottom: 90px;
  }
  .first-section__circles__clothing {
    margin-bottom: 60px;
  }

  .second-section__promotion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 950px;
  }
  .second-section__promotion__clothes {
    margin-bottom: 50px;
    width: 75%;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 1000px) {
  .first-section__circles__clothing {
    width: 150px;
    height: 150px;
  }
  .first-section__circles p {
    margin-top: 165px;
    text-align: center;
  }
}
.contact {
  min-height: 100%;
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__owner {
  min-height: 350px;
  width: 85%;
  margin: 0 auto;
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.contact__owner__image {
  min-width: 350px;
  min-height: 350px;
  border-radius: 50%;
  background-image: url(../images/store-owner.jpg);
  background-position: center;
  background-size: 600px;
}
.contact__owner__paragraph {
  padding-top: 60px;
  max-width: 600px;
  min-height: 100px;
  margin-left: 20px;
}
.contact__owner__paragraph h2 {
  font-size: 30px;
}
.contact__owner__paragraph p {
  font-size: 20px;
}
.contact h1 {
  font-size: 40px;
  margin: 0 auto;
  margin-top: 100px;
}
.contact .form {
  width: 70%;
  margin: 0 auto;
}
.contact .form form {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact .form form .input {
  width: 100%;
  height: 70px;
  font-size: 30px;
  padding-left: 35px;
  border: 3px solid #5dbfeb;
  border-radius: 35px;
  outline: none;
  margin-bottom: 30px;
  letter-spacing: 3px;
}
.contact .form form .text-field {
  width: 100%;
  font-size: 30px;
  padding-top: 25px;
  padding-left: 35px;
  border: 3px solid #5dbfeb;
  border-radius: 35px;
  outline: none;
  margin-bottom: 30px;
  letter-spacing: 3px;
}
.contact .form form ::-webkit-input-placeholder {
  color: #7a7a7a;
  opacity: 50%;
}
.contact .form form ::-moz-placeholder {
  color: #7a7a7a;
  opacity: 50%;
}
.contact .form form :-ms-input-placeholder {
  color: #7a7a7a;
  opacity: 50%;
}
.contact .form form ::-ms-input-placeholder {
  color: #7a7a7a;
  opacity: 50%;
}
.contact .form form ::placeholder {
  color: #7a7a7a;
  opacity: 50%;
}
.contact .form form .submit {
  width: 150px;
  height: 70px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  border: 3px solid #5dbfeb;
  border-radius: 35px;
  outline: none;
  margin-bottom: 30px;
  letter-spacing: 3px;
  color: #5dbfeb;
  background-color: white;
}

@media screen and (max-width: 1000px) {
  .contact__owner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__owner__image {
    width: 350px;
    height: 350px;
  }
  .contact .form form .input {
    padding-left: 15px;
    font-size: 16px;
  }
  .contact .form form .text-field {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 16px;
  }
}